.probaliti{
    margin-top: 30px;
}
.probaliti__form-group--submit {
    display: flex;
    justify-content: center;
}
.probaliti__form-group--submit > input {
    margin-right: 15px;
    padding: 4px;
    width: 120px;
}
.probaliti__result{
    margin-top: 30px;
}
.probaliti__result > .probaliti__result--table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
.probaliti__result > .probaliti__result--table th,
.probaliti__result > .probaliti__result--table td{
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: center;
}
.probaliti__result > .probaliti__result--table > thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

